{
  "openapi": "3.1.0",
  "info": {
    "title": "Business Status API",
    "description": "IF-011 - B2B Status API.",
    "version": "4.0.4-20260917152100-be779104"
  },
  "servers": [
    {
      "url": "https://swiyu-core-business-service-d.apps.p-szb-ros-shrd-npr-01.cloud.admin.ch",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearer-jwt": []
    }
  ],
  "tags": [
    {
      "name": "Status B2B",
      "description": "Status B2B API"
    },
    {
      "name": "Status B2B V2",
      "description": "Status B2B API V2 — Enforces Swiss profile 1.0.0 conformity"
    }
  ],
  "paths": {
    "/api/v2/status/business-entities/{businessEntityId}/status-list-entries/{statusRegistryEntryId}": {
      "put": {
        "tags": [
          "Status B2B V2"
        ],
        "summary": "Upload a status list with Swiss profile conformity validation.",
        "description": "Uploads a Token Status List JWT and validates Swiss profile conformity in addition to the base checks:\n- JWT header `typ` must be `statuslist+jwt`\n- JWT header `profile_version` must be `swiss-profile-vc:1.0.0`\n- `exp` claim must be set\n- Decompressed `lst` must not exceed 200KB\n- Decompressed bit count must be byte-aligned (size-in-bits % 8 = 0) and aligned with `bits`-per-entry\n",
        "operationId": "updateStatusListEntry",
        "parameters": [
          {
            "name": "businessEntityId",
            "in": "path",
            "description": "The business partner id provided by the self service api.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "8432e1f3-8119-4fb9-a879-190ab2cb9deb"
          },
          {
            "name": "statusRegistryEntryId",
            "in": "path",
            "description": "The status registry entry ID provided by /api/v1/status-list-entries/",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "18fa7c77-9dd1-4e20-a147-fb1bec146085"
          }
        ],
        "requestBody": {
          "description": "Token status list VC according to spec:\nhttps://www.ietf.org/archive/id/draft-ietf-oauth-status-list-02.html#name-status-list-request\nThe JWT header must include `typ: statuslist+jwt` and `profile_version: swiss-profile-vc:1.0.0`.\nThe payload must include an `exp` claim.\n",
          "content": {
            "application/statuslist+jwt": {
              "schema": {
                "type": "string"
              },
              "example": "eyJraWQiOiJkaWQ6dGR3Oi4uLiIsInR5cCI6InN0YXR1c2xpc3Qrand0IiwiYWxnIjoiRVMyNTYiLCJwcm9maWxlX3ZlcnNpb24iOiJzd2lzcy1wcm9maWxlLXZjOjEuMC4wIn0.eyJpc3MiOiJkaWQ6dGR3Oi4uLiIsInN1YiI6Imh0dHBzOi8vc3RhdHVzLi4uL2FwaS92MS9zdGF0dXNsaXN0Ly4uLmp3dCIsImlhdCI6MTc0NzM5MjM1NCwiZXhwIjoxNzc4OTI4MzU0LCJzdGF0dXNfbGlzdCI6eyJsc3QiOiJlTnJ0elFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQSIsImJpdHMiOjJ9fQ.signature"
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/status/business-entities/{businessEntityId}/status-list-entries/{statusRegistryEntryId}": {
      "put": {
        "tags": [
          "Status B2B"
        ],
        "summary": "Upload a status list to the status registry.",
        "description": "Deprecated: Use /api/v2/status/... instead. This endpoint does not enforce Swiss profile conformity.",
        "operationId": "updateStatusListEntry_1",
        "parameters": [
          {
            "name": "businessEntityId",
            "in": "path",
            "description": "The business partner id provided by the self service api.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "8432e1f3-8119-4fb9-a879-190ab2cb9deb"
          },
          {
            "name": "statusRegistryEntryId",
            "in": "path",
            "description": "The status registry entry ID provided by /api/v1/status-list-entries/",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "18fa7c77-9dd1-4e20-a147-fb1bec146085"
          }
        ],
        "requestBody": {
          "description": "Token status list VC according to spec:\nhttps://www.ietf.org/archive/id/draft-ietf-oauth-status-list-02.html#name-status-list-request\n",
          "content": {
            "application/statuslist+jwt": {
              "schema": {
                "type": "string"
              },
              "example": "eyJraWQiOiJkaWQ6dGR3OmhidGRveWp0bW15d2duanhtdTJkaW56eGdleWRremRjbWkzZGNtYnJnanNkaXl6emdxNHRlb2RjZ3l5ZG16ZGRtcXp0Z29qcmdpNGdleWp0bXkyZ2duanRndnJ3Z3l0Y2hleXdrenE9OmlkZW50aWZpZXItZGF0YS1zZXJ2aWNlLWQuYml0LmFkbWluLmNoOmFwaTp2MTpkaWQ6OWRjOWJiYTQtNWRiYS00ZjYwLWFkOWUtMjI2MDM4MzQzZjg5I2tleS0wMSIsInR5cCI6InN0YXR1c2xpc3Qrand0IiwiYWxnIjoiRVMyNTYifQ.eyJpc3MiOiJkaWQ6dGR3OmhidGRveWp0bW15d2duanhtdTJkaW56eGdleWRremRjbWkzZGNtYnJnanNkaXl6emdxNHRlb2RjZ3l5ZG16ZGRtcXp0Z29qcmdpNGdleWp0bXkyZ2duanRndnJ3Z3l0Y2hleXdrenE9OmlkZW50aWZpZXItZGF0YS1zZXJ2aWNlLWQuYml0LmFkbWluLmNoOmFwaTp2MTpkaWQ6OWRjOWJiYTQtNWRiYS00ZjYwLWFkOWUtMjI2MDM4MzQzZjg5Iiwic3ViIjoiaHR0cHM6Ly9zdGF0dXMtZGF0YS1zZXJ2aWNlLWQuYXBwcy5wLXN6Yi1yb3Mtc2hyZC1ucHItMDEuY2xvdWQuYWRtaW4uY2gvYXBpL3YxL3N0YXR1c2xpc3QvMDVkMmUwOWYtMjFkYy00Njk5LTg3OGYtODlhOGEyMjIyYzY3Lmp3dCIsImlhdCI6MTcyOTU4NzcwNiwic3RhdHVzX2xpc3QiOnsiYml0cyI6MiwibHN0IjoiZU5wallCalJBQUFBX3dBQiJ9fQ.1G_3ue2EGVXTwculW2RHe_9K3q3NWfOfkerCPu0cs7O4jHcd_2LGi83GscLZ3w9iGyYpZvnQYlr1PJ0AQoEz0w"
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/status/business-entities/{businessEntityId}/status-list-entries/": {
      "get": {
        "tags": [
          "Status B2B"
        ],
        "summary": "Get all entries for the status registry.",
        "operationId": "getAllStatusListEntries",
        "parameters": [
          {
            "name": "businessEntityId",
            "in": "path",
            "description": "The business partner id provided by the self service api.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "8432e1f3-8119-4fb9-a879-190ab2cb9deb"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PageStatusListEntryDto"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Status B2B"
        ],
        "summary": "Create a new entry on the status registry to store a status list.",
        "operationId": "createStatusListEntry",
        "parameters": [
          {
            "name": "businessEntityId",
            "in": "path",
            "description": "The business partner id provided by the self service api.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "8432e1f3-8119-4fb9-a879-190ab2cb9deb"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusListEntryCreationDto"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "errorCode": {
            "$ref": "#/components/schemas/ApiErrorCode"
          },
          "message": {
            "type": "string"
          },
          "additionalDetails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApiErrorCode": {
        "type": "string",
        "description": "       | Value                                       | Description                                                                           |\n       | ------------------------------------------- | ------------------------------------------------------------------------------------- |\n       | data_invalid                                | Indicates that the given data was invalid in syntax or semantic.                      |\n       | data_invalid_virus_detected                 | Indicates that the given data contains a virus.                                       |\n       | resource_not_found                          | Indicates that the requested data was not found in the given context.                 |\n       | resource_forbidden                          | Indicates that the requested data is not available with the permissions used.         |\n       | action_forbidden                            | Indicates that the requested action could not be processed with the permissions used. |\n       | partner_is_not_governmental                 | Indicates that the partner is not governmental.                                       |\n       | partner_is_not_trusted                      | Indicates that the partner is not trusted.                                            |\n       | business_data_integrity_violation           | Indicates that a business data integrity violation occurred.                          |\n       | crypto_integrity_validation_failed          | Indicates that the crypto integrity validation failed.                                |\n       | did_resolve_failed                          | Indicates that the DID resolution failed.                                             |\n       | document_not_found                          | Indicates that the document was not found.                                            |\n       | identifier_validation_failed                | Indicates that the identifier validation failed.                                      |\n       | invalid_pagination                          | Indicates that the pagination parameters are invalid.                                 |\n       | max_size_exceeded                           | Indicates that the maximum size was exceeded.                                         |\n       | object_count_limit_reached                  | Indicates that the object count limit was reached.                                    |\n       | status_list_validation_failed               | Indicates that the status list validation failed.                                     |\n       | trust_onboarding_document_validation_failed | Indicates that the trust onboarding document validation failed.                       |\n       | vc_schema_submission_not_found              | Indicates that the VC schema submission was not found.                                |\n       | vc_type_metadata_validation_failed          | Indicates that the VC type metadata validation failed.                                |\n",
        "enum": [
          "data_invalid",
          "data_invalid_virus_detected",
          "resource_not_found",
          "resource_forbidden",
          "action_forbidden",
          "partner_is_not_governmental",
          "partner_is_not_trusted",
          "business_data_integrity_violation",
          "crypto_integrity_validation_failed",
          "did_resolve_failed",
          "document_not_found",
          "identifier_validation_failed",
          "invalid_pagination",
          "max_size_exceeded",
          "object_count_limit_reached",
          "status_list_validation_failed",
          "trust_onboarding_document_validation_failed",
          "vc_schema_submission_not_found",
          "vc_type_metadata_validation_failed",
          "vqps_publication_failed",
          "vqps_publication_wait_timeout"
        ]
      },
      "StatusListEntryCreationDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "18fa7c77-9dd1-4e20-a147-fb1bec146085"
          },
          "statusRegistryUrl": {
            "type": "string",
            "example": "https://status-registry.admin.ch/api/v1/statuslist/18fa7c77-9dd1-4e20-a147-fb1bec146085.jwt"
          }
        }
      },
      "PageStatusListEntryDto": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "size": {
            "type": "integer",
            "format": "int32"
          },
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StatusListEntryDto"
            }
          },
          "number": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "pageable": {
            "$ref": "#/components/schemas/PageableObject"
          },
          "numberOfElements": {
            "type": "integer",
            "format": "int32"
          },
          "first": {
            "type": "boolean"
          },
          "last": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          }
        }
      },
      "PageableObject": {
        "type": "object",
        "properties": {
          "offset": {
            "type": "integer",
            "format": "int64"
          },
          "paged": {
            "type": "boolean"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "sort": {
            "$ref": "#/components/schemas/SortObject"
          },
          "unpaged": {
            "type": "boolean"
          }
        }
      },
      "SortObject": {
        "type": "object",
        "properties": {
          "empty": {
            "type": "boolean"
          },
          "sorted": {
            "type": "boolean"
          },
          "unsorted": {
            "type": "boolean"
          }
        }
      },
      "StatusListEntryDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "18fa7c77-9dd1-4e20-a147-fb1bec146085"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          }
        },
        "required": [
          "createdAt",
          "id",
          "updatedAt"
        ]
      }
    },
    "securitySchemes": {
      "bearer-jwt": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "jwt"
      },
      "prometheus": {
        "type": "http",
        "scheme": "basic"
      },
      "OIDC": {
        "type": "openIdConnect",
        "description": "OAuth2-Authentication",
        "openIdConnectUrl": "https://swiyu-oauth-mock-server-d.apps.p-szb-ros-shrd-npr-01.cloud.admin.ch/.well-known/openid-configuration"
      }
    }
  }
}