{
  "openapi": "3.1.0",
  "info": {
    "title": "Internal API",
    "description": "IF-009 - Internal API",
    "version": "4.0.4-20260917152100-be779104"
  },
  "servers": [
    {
      "url": "https://swiyu-core-business-service-d.apps.p-szb-ros-shrd-npr-01.cloud.admin.ch",
      "description": "Generated server url"
    }
  ],
  "security": [
    {
      "bearer-jwt": []
    }
  ],
  "tags": [
    {
      "name": "VcSchemaSubmission",
      "description": "VcSchemaSubmission API"
    },
    {
      "name": "DevOps",
      "description": "Manual triggers for the event-driven business partner sync"
    },
    {
      "name": "Identifier",
      "description": "Identifier API"
    },
    {
      "name": "TrustOnboardingSubmission",
      "description": "TrustOnboardingSubmission API"
    },
    {
      "name": "VqpsSubmission Internal",
      "description": "VqpsSubmission Internal API"
    },
    {
      "name": "TrustAddDidsSubmission Internal",
      "description": "TrustAddDidsSubmission Internal API"
    },
    {
      "name": "ProtectedVerificationSubmission",
      "description": "ProtectedVerificationSubmission API"
    },
    {
      "name": "Business Partner V2",
      "description": "Business Partner API"
    },
    {
      "name": "Status",
      "description": "Status API"
    }
  ],
  "paths": {
    "/api/v2/internal/management/business-partners/{id}": {
      "get": {
        "tags": [
          "Business Partner V2"
        ],
        "summary": "Get a business partner by ID that's associated with the user.",
        "description": "Uses the bproles of the bearer token to identify owned roles",
        "operationId": "getBusinessPartner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPartner"
                }
              }
            }
          },
          "401": {
            "description": "Missing authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPartner"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Business Partner V2"
        ],
        "summary": "Update a business partner.",
        "description": "If the partner's identity is ACTIVE (trusted), only address and contact can be updated. Name and uid can only be changed while the identity is not yet ACTIVE.",
        "operationId": "updateBusinessPartner",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BusinessPartnerUpdate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Validation failed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPartner"
                }
              }
            }
          },
          "401": {
            "description": "Missing authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPartner"
                }
              }
            }
          },
          "404": {
            "description": "Business partner not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPartner"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/trust/trust-onboarding-submission/{id}": {
      "get": {
        "tags": [
          "TrustOnboardingSubmission"
        ],
        "summary": "Get specific TrustOnboardingSubmission by ID",
        "operationId": "getTrustOnboardingSubmission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustOnboardingSubmission"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "TrustOnboardingSubmission"
        ],
        "summary": "Update",
        "operationId": "updateTrustOnboardingSubmission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustOnboardingSubmissionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Business validation failed. Possible error codes: DATA_INVALID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustOnboardingSubmission"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized. Possible error codes: RESOURCE_FORBIDDEN.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Submission not found. Possible error codes: RESOURCE_NOT_FOUND.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/internal/management/business-partners/": {
      "get": {
        "tags": [
          "Business Partner V2"
        ],
        "summary": "Gets all entities associated with the user.",
        "description": "Uses the bproles of the bearer token to identify owned roles",
        "operationId": "getBusinessPartners",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedModelBusinessPartnerListItem"
                }
              }
            }
          },
          "401": {
            "description": "Missing authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedModelBusinessPartnerListItem"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Business Partner V2"
        ],
        "summary": "Create a new business entity controlled by the signed in user.",
        "operationId": "createBusinessPartner",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartner"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Business validation failed. Possible error codes: DATA_INVALID, BUSINESS_DATA_INTEGRITY_VIOLATION, OBJECT_COUNT_LIMIT_REACHED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPartner"
                }
              }
            }
          },
          "401": {
            "description": "No Authentication token provided",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BusinessPartner"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized. Possible error codes: RESOURCE_FORBIDDEN.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/trust/trust-onboarding-submission": {
      "get": {
        "tags": [
          "TrustOnboardingSubmission"
        ],
        "summary": "Get all TrustOnboardingSubmissions for partner.",
        "operationId": "getTrustOnboardings",
        "parameters": [
          {
            "name": "businessPartnerIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedModelTrustOnboardingSubmissionListItem"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TrustOnboardingSubmission"
        ],
        "operationId": "createOnboardingSubmission",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustOnboardingSubmissionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Business validation failed. Possible error codes: DATA_INVALID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustOnboardingSubmission"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized. Possible error codes: RESOURCE_FORBIDDEN.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/trust/trust-onboarding-submission/{trustOnboardingSubmissionId}/document": {
      "get": {
        "tags": [
          "TrustOnboardingSubmission"
        ],
        "summary": "List all documents for a TrustOnboardingSubmission",
        "operationId": "listAllDocumentsForTrustOnboarding",
        "parameters": [
          {
            "name": "trustOnboardingSubmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "8369160f-697c-4b12-80d3-91abff1a29ee"
            },
            "example": "8369160f-697c-4b12-80d3-91abff1a29ee"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedModelTrustOnboardingSubmissionDocumentListItem"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "TrustOnboardingSubmission"
        ],
        "summary": "Upload a document",
        "operationId": "uploadTrustOnboardingSubmissionDocument",
        "parameters": [
          {
            "name": "trustOnboardingSubmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "46ada91a-84ce-422b-b9b5-e0d2e3e8c46d"
            },
            "example": "46ada91a-84ce-422b-b9b5-e0d2e3e8c46d"
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/TrustOnboardingSubmissionDocumentUploadRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Validation failed. For Declaration of Intent documents the errorCode will be TRUST_ONBOARDING_DOCUMENT_VALIDATION_FAILED and additionalDetails contains the specific DoI violation codes (see DeclarationOfIntentValidatorErrorCode). For general document validation failures the errorCode will be DATA_INVALID.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ApiError"
                    },
                    {
                      "$ref": "#/components/schemas/DeclarationOfIntentValidationApiError"
                    }
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Document uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustOnboardingSubmissionDocumentListItem"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/trust/trust-onboarding-submission/{id}/submit": {
      "post": {
        "tags": [
          "TrustOnboardingSubmission"
        ],
        "operationId": "submit",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TrustOnboardingSubmitRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Business validation failed. Possible error codes: DATA_INVALID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Success"
          },
          "403": {
            "description": "Not authorized. Possible error codes: RESOURCE_FORBIDDEN.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Submission not found. Possible error codes: RESOURCE_NOT_FOUND.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Concurrent update detected. Possible error codes: DATA_INVALID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/trust/protected-verification-submissions": {
      "get": {
        "tags": [
          "ProtectedVerificationSubmission"
        ],
        "summary": "Get all ProtectedVerificationSubmissions for partner.",
        "operationId": "getProtectedVerificationSubmissions",
        "parameters": [
          {
            "name": "businessPartnerIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedModelProtectedVerificationSubmissionListItem"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "ProtectedVerificationSubmission"
        ],
        "operationId": "createProtectedVerificationSubmission",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProtectedVerificationSubmissionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Business validation failed. Possible error codes: DATA_INVALID.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectedVerificationSubmission"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized or partner is not trusted. Possible error codes: RESOURCE_FORBIDDEN, PARTNER_IS_NOT_TRUSTED.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/identifier/{partnerId}/identifier/{identifierId}/description": {
      "post": {
        "tags": [
          "Identifier"
        ],
        "summary": "Update description of a specific identifier entry of partner",
        "operationId": "updateIdentifierDescription",
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "identifierId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdentifierUpdateRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/v1/internal/devops/business-partners/sync": {
      "post": {
        "tags": [
          "DevOps"
        ],
        "summary": "Re-publish the TiBusinessPartnerUpdatedEvent for all business partners.",
        "description": "Idempotent, no state change. Forces a full re-sync of the TMS partner copy.",
        "operationId": "syncAllBusinessPartners",
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "Events published for all business partners"
          },
          "401": {
            "description": "Missing authorization token"
          },
          "403": {
            "description": "Not authorized"
          }
        }
      }
    },
    "/api/v1/internal/devops/business-partners/sync/{businessPartnerId}": {
      "post": {
        "tags": [
          "DevOps"
        ],
        "summary": "Re-publish the TiBusinessPartnerUpdatedEvent for one business partner.",
        "description": "Idempotent, no state change. E.g. to recover from a dropped event.",
        "operationId": "syncBusinessPartner",
        "parameters": [
          {
            "name": "businessPartnerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "Event published for the business partner"
          },
          "401": {
            "description": "Missing authorization token"
          },
          "403": {
            "description": "Not authorized"
          },
          "404": {
            "description": "Business partner not found"
          }
        }
      }
    },
    "/api/v2/internal/management/business-partners/{businessPartnerId}/verification-progress": {
      "get": {
        "tags": [
          "Business Partner V2"
        ],
        "summary": "Get the identity verification progress for a business partner.",
        "description": "Returns the current verification state. Verification can only be started if at least one DID with an uploaded DID document exists.",
        "operationId": "getVerificationProgress",
        "parameters": [
          {
            "name": "businessPartnerId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityVerificationProgress"
                }
              }
            }
          },
          "401": {
            "description": "Missing authorization token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityVerificationProgress"
                }
              }
            }
          },
          "404": {
            "description": "Business partner not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityVerificationProgress"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/trust/vqps-submissions/{id}": {
      "get": {
        "tags": [
          "VqpsSubmission Internal"
        ],
        "summary": "Get a VqpsSubmission with full submission data",
        "operationId": "getVqpsSubmission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VqpsSubmissionInternal"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/trust/vc-schema-submissions/{id}": {
      "get": {
        "tags": [
          "VcSchemaSubmission"
        ],
        "operationId": "getVcSchemaSubmission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VcSchemaSubmission"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/trust/trust-onboarding-submission/{trustOnboardingSubmissionId}/document/{documentId}": {
      "get": {
        "tags": [
          "TrustOnboardingSubmission"
        ],
        "summary": "Get specific document for TrustOnboardingSubmission by ID",
        "operationId": "getDocumentForTrustOnboarding",
        "parameters": [
          {
            "name": "trustOnboardingSubmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "8369160f-697c-4b12-80d3-91abff1a29ee"
            },
            "example": "8369160f-697c-4b12-80d3-91abff1a29ee"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustOnboardingSubmissionDocument"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "TrustOnboardingSubmission"
        ],
        "summary": "Delete a document from a TrustOnboardingSubmission",
        "operationId": "deleteTrustOnboardingSubmissionDocument",
        "parameters": [
          {
            "name": "trustOnboardingSubmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "46ada91a-84ce-422b-b9b5-e0d2e3e8c46d"
            },
            "example": "46ada91a-84ce-422b-b9b5-e0d2e3e8c46d"
          },
          {
            "name": "documentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "204": {
            "description": "No Content"
          }
        }
      }
    },
    "/api/v1/internal/trust/trust-onboarding-submission/{trustOnboardingSubmissionId}/document/doi": {
      "get": {
        "tags": [
          "TrustOnboardingSubmission"
        ],
        "summary": "Get specific document for TrustOnboardingSubmission by ID",
        "operationId": "getDeclarationOfIntentDocumentForTrustOnboarding",
        "parameters": [
          {
            "name": "trustOnboardingSubmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "46ada91a-84ce-422b-b9b5-e0d2e3e8c46d"
            },
            "example": "46ada91a-84ce-422b-b9b5-e0d2e3e8c46d"
          },
          {
            "name": "language",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/Language"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/trust/protected-verification-submissions/{id}": {
      "get": {
        "tags": [
          "ProtectedVerificationSubmission"
        ],
        "summary": "Get specific ProtectedVerificationSubmission by ID",
        "operationId": "getProtectedVerificationSubmission",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProtectedVerificationSubmission"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/trust/protected-verification-submissions/categories": {
      "get": {
        "tags": [
          "ProtectedVerificationSubmission"
        ],
        "summary": "Get all available ProtectedVerificationCategories",
        "operationId": "getProtectedVerificationCategories",
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProtectedVerificationCategory"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/submissions/trust-add-dids-submissions/{trustAddDidsSubmissionId}": {
      "get": {
        "tags": [
          "TrustAddDidsSubmission Internal"
        ],
        "summary": "Get submission with proof of possession status",
        "operationId": "getSubmission",
        "parameters": [
          {
            "name": "trustAddDidsSubmissionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrustAdditionalDidsSubmissionInternalDto"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/status/business-partner/{businessPartnerId}/limits": {
      "get": {
        "tags": [
          "Status"
        ],
        "summary": "Get current limits in the scope of the status registry.",
        "operationId": "getStatusListEntryLimits",
        "parameters": [
          {
            "name": "businessPartnerId",
            "in": "path",
            "description": "The business partner id to get limits for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "9f425029-9775-4984-99ba-bacc60069502"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusListEntryLimits"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/identifier/business-entities/{partnerId}/limits": {
      "get": {
        "tags": [
          "Identifier"
        ],
        "summary": "Get current limits in the scope of the identifier registry.",
        "operationId": "getIdentifierEntryLimits",
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "The business partner id to get limits for",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "9f425029-9775-4984-99ba-bacc60069502"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifierEntryLimits"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/identifier/business-entities/{partnerId}/identifier/{identifierId}": {
      "get": {
        "tags": [
          "Identifier"
        ],
        "summary": "Get all entries for the identifier registry.",
        "operationId": "getIdentifierEntry",
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "The business partner id provided by the self service api.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "8432e1f3-8119-4fb9-a879-190ab2cb9deb"
          },
          {
            "name": "identifierId",
            "in": "path",
            "description": "The identifier entry id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "d290f1ee-6c54-4b01-90e6-d701748f0851"
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentifierEntry"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/internal/identifier/business-entities/{partnerId}/identifier/": {
      "get": {
        "tags": [
          "Identifier"
        ],
        "summary": "Get all entries for the identifier registry.",
        "operationId": "getAllIdentifierEntries",
        "parameters": [
          {
            "name": "partnerId",
            "in": "path",
            "description": "The business partner id provided by the self service api.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "example": "8432e1f3-8119-4fb9-a879-190ab2cb9deb"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Zero-based page index (0..N)",
            "schema": {
              "type": "integer",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of the page to be returned",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sorting criteria in the format: property,(asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "500": {
            "description": "Internal Server Error"
          },
          "400": {
            "description": "Bad request. Possible error codes: DATA_INVALID, INVALID_PAGINATION.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PagedModelIdentifierEntry"
                }
              }
            }
          },
          "403": {
            "description": "Not authorized. Possible error codes: RESOURCE_FORBIDDEN.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiError": {
        "type": "object",
        "properties": {
          "errorCode": {
            "$ref": "#/components/schemas/ApiErrorCode"
          },
          "message": {
            "type": "string"
          },
          "additionalDetails": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "ApiErrorCode": {
        "type": "string",
        "description": "       | Value                                       | Description                                                                           |\n       | ------------------------------------------- | ------------------------------------------------------------------------------------- |\n       | data_invalid                                | Indicates that the given data was invalid in syntax or semantic.                      |\n       | data_invalid_virus_detected                 | Indicates that the given data contains a virus.                                       |\n       | resource_not_found                          | Indicates that the requested data was not found in the given context.                 |\n       | resource_forbidden                          | Indicates that the requested data is not available with the permissions used.         |\n       | action_forbidden                            | Indicates that the requested action could not be processed with the permissions used. |\n       | partner_is_not_governmental                 | Indicates that the partner is not governmental.                                       |\n       | partner_is_not_trusted                      | Indicates that the partner is not trusted.                                            |\n       | business_data_integrity_violation           | Indicates that a business data integrity violation occurred.                          |\n       | crypto_integrity_validation_failed          | Indicates that the crypto integrity validation failed.                                |\n       | did_resolve_failed                          | Indicates that the DID resolution failed.                                             |\n       | document_not_found                          | Indicates that the document was not found.                                            |\n       | identifier_validation_failed                | Indicates that the identifier validation failed.                                      |\n       | invalid_pagination                          | Indicates that the pagination parameters are invalid.                                 |\n       | max_size_exceeded                           | Indicates that the maximum size was exceeded.                                         |\n       | object_count_limit_reached                  | Indicates that the object count limit was reached.                                    |\n       | status_list_validation_failed               | Indicates that the status list validation failed.                                     |\n       | trust_onboarding_document_validation_failed | Indicates that the trust onboarding document validation failed.                       |\n       | vc_schema_submission_not_found              | Indicates that the VC schema submission was not found.                                |\n       | vc_type_metadata_validation_failed          | Indicates that the VC type metadata validation failed.                                |\n",
        "enum": [
          "data_invalid",
          "data_invalid_virus_detected",
          "resource_not_found",
          "resource_forbidden",
          "action_forbidden",
          "partner_is_not_governmental",
          "partner_is_not_trusted",
          "business_data_integrity_violation",
          "crypto_integrity_validation_failed",
          "did_resolve_failed",
          "document_not_found",
          "identifier_validation_failed",
          "invalid_pagination",
          "max_size_exceeded",
          "object_count_limit_reached",
          "status_list_validation_failed",
          "trust_onboarding_document_validation_failed",
          "vc_schema_submission_not_found",
          "vc_type_metadata_validation_failed",
          "vqps_publication_failed",
          "vqps_publication_wait_timeout"
        ]
      },
      "VqpsPublicationFailureReason": {
        "type": "string",
        "enum": [
          "UNKNOWN"
        ]
      },
      "VqpsSubmissionStatus": {
        "type": "string",
        "enum": [
          "ACCEPTED",
          "PUBLICATION_SUCCEEDED",
          "PUBLICATION_FAILED"
        ]
      },
      "Address": {
        "type": "object",
        "properties": {
          "street": {
            "type": "string"
          },
          "city": {
            "type": "string",
            "minLength": 1
          },
          "postalCode": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[1-9]\\d{3}$"
          },
          "country": {
            "type": "string",
            "minLength": 1
          },
          "region": {
            "type": "string"
          }
        },
        "required": [
          "city",
          "country",
          "postalCode"
        ]
      },
      "BusinessPartnerUpdate": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Self-declared organisation name. Only updatable when identity is not yet ACTIVE.",
            "maxLength": 45,
            "minLength": 0,
            "pattern": "[^\\x00-\\x1F\\x7F]*"
          },
          "uid": {
            "type": "string",
            "description": "Enterprise identification number. Only updatable when identity is not yet ACTIVE.",
            "pattern": "^CHE(?:-?\\d{3}\\.\\d{3}\\.\\d{3}|\\d{9})$"
          },
          "address": {
            "$ref": "#/components/schemas/Address",
            "description": "Address of the organisation"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact",
            "description": "Contact person details"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9.!#$%&'*+=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
          },
          "phone": {
            "type": "string",
            "minLength": 1
          },
          "correspondingLanguage": {
            "$ref": "#/components/schemas/Language"
          },
          "address": {
            "$ref": "#/components/schemas/Address",
            "deprecated": true
          }
        },
        "required": [
          "email",
          "firstName",
          "lastName",
          "phone"
        ]
      },
      "Language": {
        "type": "string",
        "enum": [
          "EN",
          "DE",
          "FR",
          "IT",
          "RM"
        ]
      },
      "BusinessPartner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Key of the partner under which it is registered with ePortal",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "deprecated": true,
            "description": "Unique name of the partner. Deprecated: use entityName."
          },
          "entityName": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Localized entity name map with required default key and BCP-47 locale keys"
          },
          "contactEmailAddress": {
            "type": "string",
            "deprecated": true,
            "description": "Contact email address. Deprecated: use contact.email."
          },
          "type": {
            "$ref": "#/components/schemas/BusinessPartnerType",
            "description": "Type of the partner"
          },
          "payedForTrustVerification": {
            "type": "boolean",
            "description": "User paid for trust onboarding"
          },
          "payedForDIDSlots": {
            "type": "integer",
            "format": "int32",
            "description": "Number of DID slots the user paid for already"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "uid": {
            "type": "string",
            "description": "Enterprise identification number of the partner"
          },
          "address": {
            "$ref": "#/components/schemas/Address",
            "description": "Address of the partner"
          },
          "contactPhone": {
            "type": "string",
            "deprecated": true,
            "description": "Contact phone number. Deprecated: use contact.phone."
          },
          "trustVerificationStatus": {
            "$ref": "#/components/schemas/BusinessPartnerTrustStatus",
            "deprecated": true,
            "description": "Aggregated state of the trust process. Deprecated: use businessPartnerIdentity.status."
          },
          "maxDateForTrustVerificationStatus": {
            "type": "string",
            "format": "date-time",
            "deprecated": true,
            "description": "Time limit of the current trust process state. Deprecated: will be removed once EID-6624 (contract story) is implemented; retrieve via IdentityVerificationProgress.maxDateForStatus instead."
          },
          "contact": {
            "$ref": "#/components/schemas/Contact",
            "description": "Contact person details"
          },
          "businessPartnerIdentity": {
            "$ref": "#/components/schemas/BusinessPartnerIdentity",
            "description": "Business partner identity as managed by the trust management service"
          }
        },
        "required": [
          "entityName",
          "id",
          "type"
        ]
      },
      "BusinessPartnerIdentity": {
        "type": "object",
        "properties": {
          "validUntil": {
            "type": "string",
            "format": "date-time",
            "description": "Date until which the identity is valid"
          },
          "trustedIdentifier": {
            "type": "array",
            "description": "List of trusted identifiers (DIDs) associated with this identity",
            "items": {
              "type": "string"
            }
          },
          "status": {
            "$ref": "#/components/schemas/BusinessPartnerIdentityStatus",
            "description": "Current activation status of the business partner identity"
          },
          "lastActivated": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the identity was last activated"
          },
          "uid": {
            "type": "string",
            "description": "Enterprise identification number (UID)"
          },
          "entityName": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Localized entity name as managed by the trust management service"
          }
        }
      },
      "BusinessPartnerIdentityStatus": {
        "type": "string",
        "enum": [
          "ACTIVE",
          "DEACTIVATED"
        ]
      },
      "BusinessPartnerTrustStatus": {
        "type": "string",
        "description": "Defines the current aggregated state of the trust process.\n    @startuml\n    [*] --> NOT_VERIFIED\n\n    NOT_VERIFIED -[#green]-> VERIFICATION_STARTED\n\n    VERIFICATION_STARTED -[#green]-> VERIFICATION_IN_PROGRESS\n\n    VERIFICATION_IN_PROGRESS -[#orange]-> INFORMATION_REQUESTED\n    VERIFICATION_IN_PROGRESS -[#green]-> VERIFIED\n    VERIFICATION_IN_PROGRESS -[#red]-> NOT_VERIFIED\n\n    INFORMATION_REQUESTED -[#green]-> VERIFIED\n    INFORMATION_REQUESTED -[#red]-> NOT_VERIFIED\n\n    VERIFIED -[#green]-> RE_VERIFICATION_STARTED\n\n    RE_VERIFICATION_STARTED -[#green]-> RE_VERIFICATION_IN_PROGRESS\n\n    RE_VERIFICATION_IN_PROGRESS -[#orange]-> INFORMATION_REQUESTED\n    RE_VERIFICATION_IN_PROGRESS -[#green]-> VERIFIED\n    RE_VERIFICATION_IN_PROGRESS -[#red]-> NOT_VERIFIED\n    @enduml\n",
        "enum": [
          "NOT_VERIFIED",
          "VERIFICATION_STARTED",
          "VERIFICATION_IN_PROGRESS",
          "INFORMATION_REQUESTED",
          "VERIFIED",
          "RE_VERIFICATION_STARTED",
          "RE_VERIFICATION_IN_PROGRESS"
        ]
      },
      "BusinessPartnerType": {
        "type": "string",
        "description": "| Value                        | Description                                                   |\n| ---------------------------- | ------------------------------------------------------------- |\n| GOVERNMENTAL_INSTITUTION     | Governmental institutions like JPD or ASTRA                   |\n| BUSINESS                     | Business entities and corporations                            |\n| INDIVIDUAL                   | Individual persons                                            |\n| UNKNOWN                      | Deprecated – legacy placeholder, all entries migrated to BUSINESS |\n",
        "enum": [
          "GOVERNMENTAL_INSTITUTION",
          "BUSINESS",
          "INDIVIDUAL"
        ]
      },
      "Signatory": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "minLength": 1
          },
          "lastName": {
            "type": "string",
            "minLength": 1
          },
          "phone": {
            "type": "string",
            "minLength": 1
          },
          "email": {
            "type": "string",
            "minLength": 1,
            "pattern": "^[a-zA-Z0-9.!#$%&'*+=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$"
          }
        },
        "required": [
          "email",
          "firstName",
          "lastName",
          "phone"
        ]
      },
      "SigningRule": {
        "type": "string",
        "enum": [
          "SINGLE_SIGNATURE",
          "JOINT_SIGNATURE_TWO",
          "JOINT_SIGNATURE_THREE"
        ]
      },
      "TrustOnboardingSubmissionRequest": {
        "type": "object",
        "description": "A request to onboard a new trust entity.",
        "properties": {
          "partnerId": {
            "type": "string",
            "format": "uuid",
            "description": "Id of the business partner.",
            "example": "deadbeef-0000-dead-beef-000000000000"
          },
          "entityName": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "The official name of the entity as localized map.",
            "example": {
              "default": "Swiss Confederation",
              "de-CH": "Schweizerische Eidgenossenschaft",
              "fr-CH": "Confédération suisse",
              "it-CH": "Confederazione Svizzera",
              "en-CH": "Swiss Confederation",
              "rm-CH": "Confederaziun svizra"
            }
          },
          "entityAddress": {
            "$ref": "#/components/schemas/Address",
            "description": "The official address of the entity.",
            "example": {
              "street": "Musterstrasse",
              "houseNumber": "1",
              "postalCode": "3000",
              "city": "Bern",
              "country": "CH"
            }
          },
          "entityEmail": {
            "type": "string",
            "description": "The official email address of the entity.",
            "example": "info@company.com"
          },
          "contactPerson": {
            "$ref": "#/components/schemas/Contact",
            "description": "The contact person for the entity.",
            "example": {
              "firstName": "John",
              "lastName": "Doe",
              "email": "john.doe@company.com",
              "phone": "+41 12 345 67 89"
            }
          },
          "signingRule": {
            "$ref": "#/components/schemas/SigningRule",
            "description": "The rule how it can be signed, null for INDIVIDUAL business partner type",
            "example": "SINGLE_SIGNATURE"
          },
          "signatories": {
            "type": "array",
            "description": "The required signatories, null or empty for INDIVIDUAL business partner type",
            "example": {
              "firstName": "John",
              "lastName": "Doe",
              "email": "john.doe@company.com",
              "phone": "+41 12 345 67 89"
            },
            "items": {
              "$ref": "#/components/schemas/Signatory"
            }
          },
          "registryIds": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "A map of registry identifiers for the entity. The key is the registry name (e.g., 'UID') and the value is the identifier.",
            "example": {
              "UID": "CHE-123.456.789"
            }
          },
          "isRegisteredInCommercialRegister": {
            "type": "boolean",
            "description": "Whether or not the entity is registered in the commercial register",
            "example": false
          },
          "correspondingLanguage": {
            "$ref": "#/components/schemas/Language",
            "description": "The preferred language for correspondence.",
            "example": "DE"
          },
          "dids": {
            "type": "array",
            "description": "Selected DIDs to be onboarded initially",
            "items": {
              "type": "string"
            }
          },
          "requestedPartnerType": {
            "$ref": "#/components/schemas/BusinessPartnerType",
            "description": "The requested partner type. Can be different than the current partner type of the business partner."
          }
        }
      },
      "MultiLanguageText": {
        "type": "object",
        "properties": {
          "de": {
            "type": "string"
          },
          "fr": {
            "type": "string"
          },
          "it": {
            "type": "string"
          },
          "en": {
            "type": "string"
          },
          "rm": {
            "type": "string"
          }
        }
      },
      "ProofOfPossession": {
        "type": "object",
        "properties": {
          "did": {
            "type": "string",
            "minLength": 1
          },
          "nonce": {
            "type": "string",
            "minLength": 1
          },
          "status": {
            "$ref": "#/components/schemas/ProofOfPossessionStatus"
          },
          "verifiedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "did",
          "nonce",
          "status"
        ]
      },
      "ProofOfPossessionStatus": {
        "type": "string",
        "enum": [
          "VALID",
          "NOT_SUPPLIED"
        ]
      },
      "TrustOnboardingSubmission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "partnerId": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "entityName": {
            "$ref": "#/components/schemas/MultiLanguageText",
            "deprecated": true
          },
          "entityEmail": {
            "type": "string"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "contactPerson": {
            "$ref": "#/components/schemas/Contact"
          },
          "type": {
            "type": "string",
            "description": "Submission type for trust onboarding",
            "enum": [
              "REGISTRATION",
              "PROFILE_CHANGE",
              "RENEWAL"
            ]
          },
          "version": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "$ref": "#/components/schemas/TrustOnboardingSubmissionStatus"
          },
          "proofOfPossessions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProofOfPossession"
            }
          },
          "businessPartnerType": {
            "$ref": "#/components/schemas/BusinessPartnerType",
            "description": "Type of business partner"
          },
          "signingRule": {
            "$ref": "#/components/schemas/SigningRule",
            "description": "The rule how it can be signed, null for INDIVIDUAL business partner type"
          },
          "signatories": {
            "type": "array",
            "description": "The required signatories, null or empty for INDIVIDUAL business partner type",
            "items": {
              "$ref": "#/components/schemas/Signatory"
            }
          },
          "registryIds": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "isRegisteredInCommercialRegister": {
            "type": "boolean",
            "description": "Whether or not the entity is registered in the commercial register"
          },
          "rejectionReason": {
            "type": "string"
          },
          "declineReason": {
            "type": "string"
          },
          "partnerNote": {
            "type": "string"
          },
          "correspondingLanguage": {
            "$ref": "#/components/schemas/Language"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "initiatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "resubmitRequiredUntil": {
            "type": "string",
            "format": "date-time",
            "description": "Deadline until which the user can resubmit/adjust the submission after more information was requested"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          }
        },
        "required": [
          "address",
          "createdAt",
          "entityEmail",
          "entityName",
          "id",
          "name",
          "partnerId",
          "proofOfPossessions",
          "registryIds",
          "status",
          "type",
          "updatedAt",
          "version"
        ]
      },
      "TrustOnboardingSubmissionStatus": {
        "type": "string",
        "enum": [
          "UNSUBMITTED",
          "SUBMITTED",
          "SUCCEEDED",
          "REJECTED",
          "INFORMATION_REQUESTED",
          "RESUBMITTED"
        ]
      },
      "CreatePartner": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Unique name of the partner to be created. Can not be changed once created. Allowed are letters, digits, spaces, and most special characters.",
            "example": "John Doe",
            "maxLength": 45,
            "minLength": 0,
            "pattern": "[^\\x00-\\x1F\\x7F]*"
          },
          "partnerType": {
            "$ref": "#/components/schemas/BusinessPartnerType",
            "description": "Type of the business partner.",
            "example": "GOVERNMENTAL_INSTITUTION"
          },
          "uid": {
            "type": "string",
            "description": "Swiss UID of the partner (e.g. CHE-123.456.789). Optional, validated when present.",
            "example": "CHE-123.456.789",
            "pattern": "^CHE(?:-?\\d{3}\\.\\d{3}\\.\\d{3}|\\d{9})$"
          },
          "address": {
            "$ref": "#/components/schemas/Address",
            "description": "The official address of the partner."
          },
          "contact": {
            "$ref": "#/components/schemas/Contact",
            "description": "The contact person for the partner."
          }
        },
        "required": [
          "address",
          "contact",
          "name",
          "partnerType"
        ]
      },
      "TrustOnboardingSubmissionDocumentType": {
        "type": "string",
        "enum": [
          "TRUST_ONBOARDING_OTHER",
          "TRUST_ONBOARDING_DECLARATION_OF_INTENT"
        ]
      },
      "TrustOnboardingSubmissionDocumentUploadRequest": {
        "type": "object",
        "description": "A request to upload a document to a trust registry submission",
        "properties": {
          "type": {
            "$ref": "#/components/schemas/TrustOnboardingSubmissionDocumentType"
          },
          "file": {
            "type": "string",
            "format": "binary"
          }
        },
        "required": [
          "file",
          "type"
        ]
      },
      "DeclarationOfIntentValidationApiError": {
        "type": "object",
        "properties": {
          "errorCode": {
            "$ref": "#/components/schemas/ApiErrorCode"
          },
          "message": {
            "type": "string"
          },
          "additionalDetails": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DeclarationOfIntentValidatorErrorCode"
            }
          }
        }
      },
      "DeclarationOfIntentValidatorErrorCode": {
        "type": "string",
        "enum": [
          "invalid_signatures_for_mandant",
          "no_signatures_found",
          "validation_service_not_available",
          "violating_doi_variant_single_signature",
          "violating_doi_variant_joint_signature_two",
          "violating_doi_variant_joint_signature_three"
        ]
      },
      "PartnerDocumentType": {
        "type": "string",
        "enum": [
          "TRUST_ONBOARDING_OTHER",
          "TRUST_ONBOARDING_DECLARATION_OF_INTENT"
        ]
      },
      "TrustOnboardingSubmissionDocumentListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "trustOnboardingSubmissionId": {
            "type": "string",
            "format": "uuid",
            "description": "Id of the trust onboarding submission this document belongs to."
          },
          "name": {
            "type": "string",
            "description": "Name of the file.",
            "example": "example.json",
            "minLength": 1
          },
          "mediaType": {
            "type": "string",
            "description": "Media type of file.",
            "example": "application/json"
          },
          "type": {
            "$ref": "#/components/schemas/PartnerDocumentType",
            "description": "Type of file."
          },
          "owningBusinessPartner": {
            "type": "string",
            "format": "uuid",
            "description": "Id of the business partner this file belongs to."
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time and date when this document was submitted."
          },
          "canBeDeleted": {
            "type": "boolean",
            "description": "Whether or not this document can be deleted."
          }
        },
        "required": [
          "canBeDeleted",
          "createdAt",
          "id",
          "mediaType",
          "name",
          "owningBusinessPartner",
          "submittedAt",
          "type",
          "updatedAt"
        ]
      },
      "TrustOnboardingSubmitRequest": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "format": "int64"
          }
        },
        "required": [
          "version"
        ]
      },
      "ProtectedVerificationCategory": {
        "type": "string",
        "enum": [
          "PERSONAL_ADMINISTRATIVE_NUMBER"
        ]
      },
      "ProtectedVerificationSubmissionRequest": {
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "format": "uuid"
          },
          "sbnId": {
            "type": "string",
            "format": "uuid"
          },
          "entityName": {
            "type": "string",
            "minLength": 1
          },
          "uid": {
            "type": "string"
          },
          "contactPerson": {
            "$ref": "#/components/schemas/Contact"
          },
          "category": {
            "$ref": "#/components/schemas/ProtectedVerificationCategory"
          },
          "reason": {
            "type": "string",
            "maxLength": 2000,
            "minLength": 0
          }
        },
        "required": [
          "category",
          "entityName",
          "partnerId",
          "reason",
          "sbnId"
        ]
      },
      "ProtectedVerificationSubmission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "partnerId": {
            "type": "string",
            "format": "uuid"
          },
          "sbnId": {
            "type": "string",
            "format": "uuid"
          },
          "entityName": {
            "type": "string"
          },
          "uid": {
            "type": "string"
          },
          "contactPerson": {
            "$ref": "#/components/schemas/Contact"
          },
          "category": {
            "$ref": "#/components/schemas/ProtectedVerificationCategory"
          },
          "reason": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/ProtectedVerificationSubmissionStatus"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          }
        },
        "required": [
          "category",
          "createdAt",
          "entityName",
          "id",
          "partnerId",
          "reason",
          "sbnId",
          "status",
          "submittedAt",
          "updatedAt"
        ]
      },
      "ProtectedVerificationSubmissionStatus": {
        "type": "string",
        "enum": [
          "SUBMITTED",
          "APPROVED",
          "REJECTED"
        ]
      },
      "IdentifierUpdateRequest": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "maxLength": 255,
            "minLength": 0
          }
        }
      },
      "IdentityVerificationProgress": {
        "type": "object",
        "properties": {
          "status": {
            "$ref": "#/components/schemas/IdentityVerificationProgressStatus",
            "description": "Current state of the identity verification process"
          },
          "maxDateForStatus": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "Deadline by which the current verification step must be completed, or null if no deadline applies for the current state.",
            "example": "2024-10-29T09:35:16.809924Z"
          }
        }
      },
      "IdentityVerificationProgressStatus": {
        "type": "string",
        "enum": [
          "VERIFICATION_NOT_STARTED",
          "VERIFICATION_STARTED",
          "VERIFICATION_IN_PROGRESS",
          "VERIFICATION_INFORMATION_REQUESTED_REQUIRED",
          "VERIFICATION_INFORMATION_REQUESTED_STARTED",
          "VERIFICATION_REJECTED",
          "VERIFICATION_SUCCEEDED",
          "RE_VERIFICATION_REQUIRED",
          "RE_VERIFICATION_STARTED",
          "RE_VERIFICATION_IN_PROGRESS",
          "RE_VERIFICATION_REJECTED",
          "RE_VERIFICATION_SUCCEEDED"
        ]
      },
      "BusinessPartnerListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "description": "Key of the partner under which it is registered with ePortal",
            "minLength": 1
          },
          "name": {
            "type": "string",
            "deprecated": true,
            "description": "Unique name of the partner. Deprecated: use entityName.",
            "minLength": 1
          },
          "entityName": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Localized entity name map with required default key and BCP-47 locale keys"
          },
          "type": {
            "$ref": "#/components/schemas/BusinessPartnerType",
            "description": "Type of the partner"
          },
          "payedForTrustVerification": {
            "type": "boolean",
            "description": "User paid for trust onboarding"
          },
          "payedForDIDSlots": {
            "type": "integer",
            "format": "int32",
            "description": "Number of DID slots the user paid for already"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "trustVerificationStatus": {
            "$ref": "#/components/schemas/BusinessPartnerTrustStatus",
            "description": "Aggregated state of the trust process for this business partner"
          },
          "maxDateForTrustVerificationStatus": {
            "type": "string",
            "format": "date-time",
            "description": "Time limit, if necessary, of the current aggregated state of the trust process"
          }
        },
        "required": [
          "createdAt",
          "entityName",
          "id",
          "name",
          "type",
          "updatedAt"
        ]
      },
      "PageMetadata": {
        "type": "object",
        "properties": {
          "size": {
            "type": "integer",
            "format": "int64"
          },
          "number": {
            "type": "integer",
            "format": "int64"
          },
          "totalElements": {
            "type": "integer",
            "format": "int64"
          },
          "totalPages": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "PagedModelBusinessPartnerListItem": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/BusinessPartnerListItem"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMetadata"
          }
        }
      },
      "JsonNode": {
        "type": "object",
        "properties": {
          "float": {
            "type": "boolean"
          },
          "object": {
            "type": "boolean"
          },
          "empty": {
            "type": "boolean"
          },
          "array": {
            "type": "boolean"
          },
          "null": {
            "type": "boolean"
          },
          "number": {
            "type": "boolean"
          },
          "double": {
            "type": "boolean"
          },
          "int": {
            "type": "boolean"
          },
          "short": {
            "type": "boolean"
          },
          "long": {
            "type": "boolean"
          },
          "boolean": {
            "type": "boolean"
          },
          "pojo": {
            "type": "boolean"
          },
          "floatingPointNumber": {
            "type": "boolean"
          },
          "bigInteger": {
            "type": "boolean"
          },
          "missingNode": {
            "type": "boolean"
          },
          "textual": {
            "type": "boolean",
            "deprecated": true
          },
          "binary": {
            "type": "boolean"
          },
          "bigDecimal": {
            "type": "boolean"
          },
          "nodeType": {
            "type": "string",
            "enum": [
              "ARRAY",
              "BINARY",
              "BOOLEAN",
              "MISSING",
              "NULL",
              "NUMBER",
              "OBJECT",
              "POJO",
              "STRING"
            ]
          },
          "integralNumber": {
            "type": "boolean"
          },
          "container": {
            "type": "boolean"
          },
          "string": {
            "type": "boolean"
          },
          "valueNode": {
            "type": "boolean"
          },
          "embeddedValue": {
            "type": "boolean"
          }
        }
      },
      "VqpsSubmissionInternal": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "partnerId": {
            "type": "string",
            "format": "uuid"
          },
          "version": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "$ref": "#/components/schemas/VqpsSubmissionStatus"
          },
          "sub": {
            "type": "string",
            "minLength": 1
          },
          "purpose_name": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "minProperties": 1
          },
          "purpose_description": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Description of the purpose",
            "minProperties": 1
          },
          "scope": {
            "type": "string",
            "minLength": 1
          },
          "query": {
            "$ref": "#/components/schemas/JsonNode"
          },
          "failureReason": {
            "$ref": "#/components/schemas/VqpsPublicationFailureReason"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "partnerId",
          "purpose_description",
          "purpose_name",
          "query",
          "scope",
          "status",
          "sub",
          "version"
        ]
      },
      "VcSchemaSubmission": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "minLength": 1
          },
          "partnerId": {
            "type": "string",
            "format": "uuid",
            "minLength": 1
          },
          "version": {
            "type": "integer",
            "format": "int64"
          },
          "status": {
            "$ref": "#/components/schemas/VcSchemaSubmissionStatus"
          },
          "file": {
            "type": "string",
            "minLength": 1
          },
          "failureReason": {
            "type": "string"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          }
        },
        "required": [
          "createdAt",
          "file",
          "id",
          "partnerId",
          "status",
          "updatedAt",
          "version"
        ]
      },
      "VcSchemaSubmissionStatus": {
        "type": "string",
        "enum": [
          "ACCEPTED",
          "SUCCEEDED",
          "FAILED"
        ]
      },
      "PagedModelTrustOnboardingSubmissionListItem": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrustOnboardingSubmissionListItem"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMetadata"
          }
        }
      },
      "TrustOnboardingSubmissionListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "partnerId": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "$ref": "#/components/schemas/TrustOnboardingSubmissionStatus"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "createdAt",
          "id",
          "partnerId",
          "status",
          "updatedAt"
        ]
      },
      "PagedModelTrustOnboardingSubmissionDocumentListItem": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TrustOnboardingSubmissionDocumentListItem"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMetadata"
          }
        }
      },
      "TrustOnboardingSubmissionDocument": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "trustOnboardingSubmissionId": {
            "type": "string",
            "format": "uuid",
            "description": "Id of the trust onboarding submission this document belongs to."
          },
          "downloadUrl": {
            "type": "string",
            "format": "url",
            "description": "Download link for the file.",
            "example": "https://example.admin.ch/example.json"
          },
          "version": {
            "type": "integer",
            "format": "int64",
            "description": "Version number of this document."
          },
          "name": {
            "type": "string",
            "description": "Name of the file.",
            "example": "example.json",
            "minLength": 1
          },
          "mediaType": {
            "type": "string",
            "description": "Media type of file.",
            "example": "application/json"
          },
          "type": {
            "$ref": "#/components/schemas/PartnerDocumentType",
            "description": "Type of file."
          },
          "owningBusinessPartner": {
            "type": "string",
            "format": "uuid",
            "description": "Id of the business partner this file belongs to."
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "description": "Time and date when this document was submitted."
          }
        },
        "required": [
          "downloadUrl",
          "mediaType",
          "name",
          "owningBusinessPartner",
          "submittedAt",
          "type",
          "version"
        ]
      },
      "PagedModelProtectedVerificationSubmissionListItem": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProtectedVerificationSubmissionListItem"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMetadata"
          }
        }
      },
      "ProtectedVerificationSubmissionListItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "partnerId": {
            "type": "string",
            "format": "uuid"
          },
          "entityName": {
            "type": "string"
          },
          "category": {
            "$ref": "#/components/schemas/ProtectedVerificationCategory"
          },
          "status": {
            "$ref": "#/components/schemas/ProtectedVerificationSubmissionStatus"
          },
          "submittedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          }
        },
        "required": [
          "category",
          "createdAt",
          "entityName",
          "id",
          "partnerId",
          "status",
          "submittedAt",
          "updatedAt"
        ]
      },
      "TrustAdditionalDidsSubmissionInternalDto": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "status": {
            "type": "string",
            "enum": [
              "UNSUBMITTED",
              "UNSUBMITTED_TIMEOUT",
              "SUBMITTED",
              "SUCCEEDED",
              "REJECTED"
            ]
          },
          "permissionDid": {
            "$ref": "#/components/schemas/ProofOfPossession"
          },
          "didsToAdd": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ProofOfPossession"
            }
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "didsToAdd",
          "id",
          "permissionDid",
          "status"
        ]
      },
      "CountLimit": {
        "type": "object",
        "properties": {
          "relatesTo": {
            "type": "string",
            "enum": [
              "identifier_entries",
              "statuslist_entries"
            ]
          },
          "current": {
            "type": "integer",
            "format": "int64"
          },
          "max": {
            "type": "integer",
            "format": "int64"
          }
        }
      },
      "StatusListEntryLimits": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/CountLimit"
          }
        },
        "required": [
          "count"
        ]
      },
      "IdentifierEntryLimits": {
        "type": "object",
        "properties": {
          "count": {
            "$ref": "#/components/schemas/CountLimit"
          }
        },
        "required": [
          "count"
        ]
      },
      "IdentifierEntry": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid",
            "example": "18fa7c77-9dd1-4e20-a147-fb1bec146085"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time",
            "example": "2024-10-29T09:35:16.809924Z"
          },
          "did": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "NOT_INITIALIZED",
              "INITIALIZED",
              "USER_DEACTIVATED",
              "DEACTIVATED_BY_MIGRATION_BECAUSE_OF_UNSUPPORTED_FORMAT"
            ]
          },
          "identifierRegistryUrl": {
            "type": "string",
            "example": "https://identifier-reg.trust-infra.swiyu.admin.ch/api/v1/did/18fa7c77-9dd1-4e20-a147-fb1bec146085"
          }
        },
        "required": [
          "createdAt",
          "id",
          "updatedAt"
        ]
      },
      "PagedModelIdentifierEntry": {
        "type": "object",
        "properties": {
          "content": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/IdentifierEntry"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageMetadata"
          }
        }
      }
    },
    "securitySchemes": {
      "bearer-jwt": {
        "type": "http",
        "scheme": "bearer",
[...]
